
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

.tog {
  display: none;
  font-size: 10px;
}

.vk {
  font-size: 120%;
  color: #285e8e;
}

#send {
  background-image: url("/template/images/email.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 72px;
  background-position: center;
}

#shadow{
  box-shadow: 0 0 5px 2px #285e8e;
  padding-left:0 ;
  padding-right: 0;
}

#text {
  width: 100%;
  height: 100%;
  resize: none;
}

.status1 {
  background-image: url(/template/images/plus-button.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  clear: both;

}

.status1:hover {
  background-image: url(/template/images/plus-button2.png);
}
.messageblock span{
  color: #2a6496;
}

#red, #com {
  width: 100%;
  overflow: auto;
  border-color: #285e8e;
}

#finish {
  color: #285e8e;
}

#finish:hover {
  color: #357ebd;
}
#bigbox{
  height: 300px;
  box-shadow: 0 0 5px 2px #285e8e;
  word-wrap:break-word;
  overflow: auto;
  background-color: lavender;
}

#error{
  display: none;
  color:red;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/template/images/stylish-floral-pattern-1988.png");
  background-repeat: repeat;
  position: relative;
  font-weight:400;
}

#name {
  font-size: 120%;
  color: #285e8e;
}



ul li {
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.header_top {
  background: none repeat scroll 0 0 #c0c0c0;
}

.fa-pencil{
  display:none;
}
.fa-reply{
  display:none;
}
.fa-trash-o {
  display:none;
}

.vk[data-vk]:before {content: url(http://favicon.yandex.net/favicon/vk.com);
}

footer {
  color: #285e8e;
}

